<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>conso pourrait se faire inviter en se mettant en status ouvert au jeux
conso pourrait choisir des guest pour completer sa team avec une deadline le premier qui repond le premier est pris.



</p>
