/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  // z-index: 100 !important;
  // margin-bottom: 50px !important;
  position: relative;

}
.alert-info {
  background: $green;
  // z-index: 100 !important;
  // margin-bottom: 50px !important;
}
.alert-warning {
  background: $red;
  // z-index: 100 !important;
  // margin-bottom: 50px !important;
}
