.badg-container {
  position: relative;
text-overflow: ellipsis;
}

.badg {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  text-align: center;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.badg-red {
  background: #EE5F5B;
}

.badg-green {
  background: #32B796;
}

.badg-blue {
  background: #469AE0;
}

.badg-black {
  background: black;
}

.badg-bordered {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.badg-container-show {
  position: relative;
  line-height: 30px;
  width: 30px;
}


