
.card {
  font-family: 'Raleway', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Rozha One', serif;
// font-family: 'Maven Pro', sans-serif;
  letter-spacing: 0.4px;
  font-weight: 500;
  color:#004677;
  background-size: cover !important;
  background-color: white;
  // color: #a9a698;
  position: relative;
  margin-top: 15px;
  // border: 1px solid #ededf0;
  // border-bottom: 1.4px solid #dcdce0;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  height: 190px;
  }




  // .col-xs-12 {
  //   background-color: #f6f7f8;
  // }

  // .col-md-6 {
  //   background-color: #f6f7f8;
  // }


.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  p {
    margin-top: 10px;
  }
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;

}

.card-category p {
  font-size: 13px;
  }

.card-description {
  position: absolute;
  bottom: 40px;
  left: 0px;
  color: white;
  //essai couleurs//
  background-color: #4BC7CF;
  // background-color: #F38D68;
  //essai couleurs//
  width: 60%;
  border-top-right-radius: 5px;
}

.card-description p {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 1,5px;

}
.card-address {
  font-size: 13px;
  position: absolute;
  bottom: 5px;
  margin-left: 5px;

  }

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-result-layout {
font-family: 'Roboto', sans-serif;
max-width: 850px;
padding-top: 20px;
text-align: center;
}



@media (max-width: 768px) {

  .card {
max-height: 115px;
  }

.card-result-layout {

max-width: 100%;

}

.card-address {
  font-size: 10px;
}

}



