
.card {
  font-family: 'Raleway', sans-serif;
  background-size: cover !important;
  color: black;
  position: relative;
  margin-top: 20px;
  border: 1px solid #ededf0;
  border-bottom: 1,4px solid #dcdce0;
  border-radius: 3px;
  height: 220px;

  background-color: white;
  }


  // .col-xs-12 {
  //   background-color: #f6f7f8;
  // }

  // .col-md-6 {
  //   background-color: #f6f7f8;
  // }


.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;

}

.card-category p {
  font-size: 13px;
  }

.card-description {
  position: absolute;
  bottom: 40px;
  left: 0px;
  color: white;
  background-color: #4BC7CF;
  width: 60%;
  border-top-right-radius: 5px;
}

.card-description p {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 1,5px;

}
.card-address {
  font-size: 13px;
  position: absolute;
  bottom: 5px;
  margin-left: 5px;

  }

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
