.form_style {
  font-family: 'Raleway', sans-serif;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  background-image: none;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  padding: 6px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 50px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: inherit;
}

#style {
    height: 34px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    padding: 6px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 50px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: inherit;

}
user_input_autocomplete_address {
    height: 34px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: red;
    background-image: none;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    padding: 6px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 50px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: inherit;
}

.container_search_bar {
  padding: 15px;
  background: white !important;
  position: fixed !important;
  top: 80px !important;
  width: 100% !important;
  z-index: 11 !important;
  height: 50px !important;
  margin-bottom: 15px;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 7px 4px -2px rgba(0, 0, 0, 0.2);

}

.container_search_bar label {
margin-right: 10px;

}
.search_bar{
  margin-left: 60px;
}
.search-result {
text-align: center;
}



.search-result h1 {
font-family: 'Raleway', sans-serif;
}


.search-result-card {
  max-width: 750px;

}

.search-result-location {
    display: block;
    position: fixed;
    width: calc(100% - 750px);
    height: calc(100% - 50px);
    top: 120px;
    right: 0;
    background-color: #f6f7f8;
    border-left: 1px solid #CCC;
}


