.container_search_bar {
  padding: 15px;
  background:  #4BC7CF !important;
  position: fixed !important;
  top: 60px !important;
  width: 100% !important;
  z-index: 10 !important;
  height: 50px !important;
  margin-bottom: 15px;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 7px 4px -2px rgba(0, 0, 0, 0.2);

}

.container_search_bar label {
margin-right: 10px;

}
.search_bar{
  margin-left: 60px;
}



//mise en forme du simpleform.
  #style {
      height: 34px;
      font-size: 14px;
      line-height: 1.42857;
      color: rgb(85, 85, 85);
      background-color: rgb(255, 255, 255);
      background-image: none;
      box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
      padding: 6px 12px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(204, 204, 204);
      border-image: initial;
      border-radius: 50px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      font-family: inherit;
      }

  .form_style {
    font-family: 'Raleway', sans-serif;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    padding: 6px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 50px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: inherit;
    }

// user_input_autocomplete_address {
//     height: 34px;
//     font-size: 14px;
//     line-height: 1.42857;
//     color: rgb(85, 85, 85);
//     background-color: red;
//     background-image: none;
//     box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
//     padding: 6px 12px;
//     border-width: 1px;
//     border-style: solid;
//     border-color: rgb(204, 204, 204);
//     border-image: initial;
//     border-radius: 50px;
//     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//     font-family: inherit;
//

@media(min-width: 768px) {
.map-result-layout {
    display: block;
    position: fixed;
    width: calc(100% - 850px);
    height: calc(100% - 50px);
    top: 110px;
    right: 0;
    background-color: #f6f7f8;
    border-left: 1px solid #CCC;
    }

#map {
    width: 100%;
    height: 90%;
    }

}

@media(max-width: 768px) {
.map-result-layout {
    display: block;
    width: 100%;
    height: 400px;
    top: 110px;
    background-color: #f6f7f8;
    border-left: 1px solid #CCC;
    }

#map {
    width: 100%;
    height: 90%;
    }
}

// customisation du contenu bouton recherche en format xs
.xs_search_bar {
  margin-left: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;

  h4 {
    margin-left: 20px;
  }

}

.fa-map-custom2 {
margin-right: 10px;
}

.xs_search_form {
  margin-top: 25px;
}

.search_form_xs_button {
  margin-left: 42%;
  margin-top: 5px;
}

.search_map_xs_button {
margin-left: 140px;

}

  .form_style2 {
    margin-bottom: 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    padding: 6px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 50px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: inherit;
    }

