
.wrapper-myevents h1 {
text-align: center;

}


.navbar_myevents {
 font-family: 'Raleway', sans-serif;
//   height: 165px;
//   // background: #ffffff !important;
//   position: fixed !important;
//   top: 0px !important;
//   width: 100% !important;
    position: fixed;
    top: 80px;
    z-index: 11 !important;
    background-color: white;
    // margin-top: -15px;
    margin-bottom: 15px;
    width: 100%;


//   height: 105px !important;

//   display: flex;
//   align-items: center;
//   justify-content: space-between;

}

.result-myevents {
// background-color:#f6f7f8;
max-width: 750px;


}

.left_side_myevents {
width: 50%;
display: flex;
align-items: center;
}

.right_side_myevents {
  width: 50%;
  background-color: blue;
}
// .logo_myevents {
//   width:15%;
//   margin-left: 20px;
// background-color: red;
// }

.tab-content {

}


.myevents-location {
    display: block;
    position: fixed;
    width: calc(100% - 750px);
    height: calc(100% - 50px);
    top: 110px;
    right: 0;
    background-color: #f6f7f8;
    border-left: 1px solid #CCC;
}

// .google-map-myevents {
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     height: 100%;
//     width: 100%;
//     padding: 0px;
//     border-width: 0px;
//     margin: 0px;
//     z-index: 1;
// }




