
.wrapper-myevents h1 {
text-align: center;

}


.navbar_myevents {
  font-family: 'Raleway', sans-serif;
  position: fixed;
  top: 60px;
  z-index: 10 !important;
  background-color: #4BC7CF;
  margin-bottom: 15px;
  width: 100%;
  box-shadow: 0 7px 4px -2px rgba(0, 0, 0, 0.2);
  height: 50px !important;
 // margin-top: -15px;
//   height: 105px !important;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 165px;
//   // background: #ffffff !important;
//   position: fixed !important;
//   top: 0px !important;
//   width: 100% !important;
}

.result-myevents {
// background-color:#f6f7f8;
max-width: 750px;
padding-top: 15px;
text-align: center;

}

.left_side_myevents {
width: 50%;
display: flex;
align-items: center;
height: 100%;
}

.right_side_myevents {
  width: 50%;
  background-color: blue;
}
// .logo_myevents {
//   width:15%;
//   margin-left: 20px;
// background-color: red;
// }

.tab-content {

}


.myevents-location {
    display: block;
    position: fixed;
    width: calc(100% - 750px);
    height: calc(100% - 50px);
    top: 110px;
    right: 0;
    background-color: #f6f7f8;
    border-left: 1px solid #CCC;
}

// .google-map-myevents {
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     height: 100%;
//     width: 100%;
//     padding: 0px;
//     border-width: 0px;
//     margin: 0px;
//     z-index: 1;
// }




