.wrapper {

// background-color: #f6f7f8;
}
.container_show {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 48px;
    margin-left: 48px;
    position: relative;

}
.content_show {
  font-family: 'Raleway', sans-serif;
  background-color: white;

}

.banner_head {
height: 150px;
margin: 0px;
}

.eventgame {
position: absolute;
// top: 10px;
left: 0px;
width: 60%;
background-color: #4BC7CF;
text-align: center;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;

}

.eventgame p {
color: white;
margin-top: 0px;
margin-bottom: 0px;
font-size: 24px;
letter-spacing: 1,9px;

}

.organiser {
position: absolute;
top: 20px;
right: 15px;

}
.organiser p {
  padding-top: 15px;
}


.date {
margin-left: 10px;

}

.eventdescription {
padding: 50px;

}

