
.show-layout {
  display: grid;
  grid-template-columns:70% repeat(3, 10%);
  grid-template-rows: 40% 30% 30%;
  grid-gap: 8px;
  justify-items: stretch;
  margin-top: -35px;
}



.testgrid1 {
  grid-row: 1 / span 1;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.testgrid2 {
  grid-row: 1 / span 1;
  grid-column-start: span 3;
  grid-column-end:  span 3;
  background: white;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.testgrid3 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  background: white;
  padding: 15px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    h4 {
    color: grey;


    }
}
.testgrid4 {
  grid-row: 3 / span 1;
  background: yellow;
}

.testgrid5 {

  grid-row: 2 / span 1;
  grid-column-start: span 2;
  grid-column-end: span 2;
  background: white;
  color: white;
  padding:20px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
     h6 {
      font-size: 20px;
      margin: unset;
    }
    p {
      margin-bottom: unset;
    }

}


.menu_show {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  width: 50%;

  i {
     color: #335D7F;
    &:hover{
      color:  #F38D68;
      cursor: pointer;
      text-decoration: none;
    }
  }

}

.remaining_places {
  color: orange;
  padding: 10px;
}

.count_of_confirmed {
  color: #32B796;
  padding: 10px;

}
.count_of_interested {
  color: #469AE0;
 padding: 10px;
}


.content_show {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  height: 100%;
}

.banner_head {
  height: 150px;
  margin: 0px;
}

.eventgame {
  position: absolute;
  // top: 10px;
  left: 0px;
  width: 60%;
  background-color: #4BC7CF;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

.eventgame p {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  letter-spacing: 1,9px;

}

.organiser {
  position: absolute;
  top: 20px;
  right: 15px;

}
.organiser p {
  padding-top: 15px;
}


.date {

// display: flex;
// justify-content: space-around;
}

.time {
display: flex;
justify-content: center;
}

.time h4 {
font-size: 60px;
font-weight: 200;
color: #4BC7CF;
}
.hour {

}

.min {

}

.eventdescription h5 {
color: #4BC7CF;
}

.food i {
  color: #4BC7CF;
  margin-top: 10px;
  margin-bottom: 10px;
}

.eventparticipation {

}

.google_map {
// margin-top: 20px;
padding: 7%;
// max-height: 100%;
// max-width: 100%;
width: 100%;
min-height: 75%;
}

.scrollmenu {
    overflow: scroll;
    white-space: nowrap;
    // margin-top: 10px;
    // margin-bottom: -7px;
    padding: 10px;
    background-color: #F5F5F5;
}

.scrollmenu .item {
  display: inline-block;
}


//visible xs//

@media (max-width: 767px) {
  .show-layout {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 40% 30% 30%;
    justify-items: stretch;
  }
  .menu_show {
    width: 100%;
  }
  .testgrid1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }

  .testgrid2 {
    display: none;
  }

  .testgrid3 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    background: white;
    padding-left: 15px;
  }

  .testgrid4 {
    display: none;
  }

  .testgrid5 {
    grid-row: 2 / span 1;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding:5px;

    h6 {
      font-size: 20px;
      margin: unset;
    }
    p {
      margin-bottom: unset;
    }

  }

  .banner_head {
    height: 115px;
    margin: 0px;
  }

  .organiser p {
   padding-top: 5px;
  }

  .count_of_confirmed {
  color: #32B796;
  padding: 5px;

  }
  .count_of_interested {
   color: #469AE0;
   padding: 5px;
}

  .date {
  margin-top: -20px;
  }

}

