.tabs {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // margin-top: 40px;
  width: 40%;
  height: 100%;
  flex: 1 0 auto;
  padding-top: 8px;
  color: white !important;

}

.tabs a {

  // margin-top: 37px;
  letter-spacing: 2px;
  // background-color: green;

}

.tabs p {
  margin: 0 0 2px;
  font-size: 12px;

}


.tab {
  flex: 0 1 34%;
  text-align: center;

}

@media (min-width: 768px) {
  .tab.active {
    border-bottom: 2px solid !important;
  }
  .tabs a:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
  .tab:hover {
    border-bottom: 2px solid !important;
    opacity: 0.8;
  }
}

@media (max-width: 767px) {
  .tab.active {
  color:  #F38D68 !important;;
  border-bottom: none;
  }
  .tabs a:hover {
  color:  #F38D68 !important;
  cursor: pointer;
  text-decoration: none;

  }
  .tab:hover {
    color:  #F38D68 !important;;
    cursor: pointer;
    text-decoration: none;
  }
}



