.tabs {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // margin-top: 40px;
  width: 40%;
  height: 100%;
  flex: 1 0 auto;
  padding-top: 12px;
}

.tabs a {
  color: white;
  // margin-top: 37px;
  letter-spacing: 2px;
  // background-color: green;

}

.tabs p {
  margin: 0 0 16px;

}
.tabs a:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;

}

.tab {
  flex: 0 0 33%;
  text-align: center;
}
.tab.active {
  border-bottom: 2px solid !important;

}

.tab:hover {
  border-bottom: 2px solid !important;
  opacity: 0.8;
}

