.user-show-layout {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
}

.user_preferences {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;

}

.preference_form {
  background-color: white;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.preference_form label {
    margin-right: 50px;
    display: inline-block;

}

.add_preference {
color: #23CE6B;

}

.add_preference p {
color: #23CE6B;

}

.user-info {
line-height: 35px;

}

.user-info p {
font-size: 17px;
font-weight: 200;
}

.friends {
  width: 70%;
  height: 100%;
  float: left;
}

.friends h4 {
  background-color: #F38D68;
}
.friends_request {
  width: 30%;
  height: 100%;
  float: right;

  // box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2)

}

.friends_request h4 {
  background-color: #4BC7CF;
}

#friends h4 {
  padding: 5px;
  color: white;
  border-top-right-radius: 5px;
  width: 60%;
  text-align: center;
  letter-spacing: 1.5px;
  font-family: 'Raleway', sans-serif;
  margin-top: 25px;
}
